{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'create.css' %}">
{% endblock customcss %}

{% block content %}
<!-- <form action="" method="POST">{% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="作成する">
</form> -->

<form action='' method='POST' enctype='multipart/form-data' id="contact" autocomplete="off">{% csrf_token %}
    <div class='cancel'>
        <a href="{% url 'list' %}">
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
        </a>
    </div>

    <div class="container">
        <div class="head">
            <h2>ToDoリストを作成</h2>
        </div>
        {{ form.title }}
        {{ form.memo }}
        {{ form.duedate }}<br/>

        <div class="radio-container">
            <div class='radio'>
                {{ form.priority.label }}
            </div>
            {% for radio in form.priority %}
            <div class='radio'>
                {{ radio.tag }}
                <label for="id_select_{{ radio.index }}">{{ radio.choice_label }}</label>
            </div>
            {% endfor %}
        </div>
      <button id="submit" type="submit">
        作成する
      </button>
    </div>
  </form>

  {% endblock content %}